<%= link_to 'Pets Index', '/pets' %>
<%= link_to 'Shelters Index', '/shelters' %>

 <h2> <%= link_to @shelter.name, "/shelters/#{@shelter.id}" %> - ID:<%= @shelter.id %>
   <br> Pets At Shelters: <%= @sorted_pets.count %></h2>

 <% @sorted_pets.each do |pet| %>
  <p> <% pet.image %> <br>
    Pet Name: <%= link_to pet.name, "/pets/#{pet.id}" %><br>
    <%= pet.approx_age %> <br>
    <%= pet.sex %> </p>
    <% if pet.status = "Adoptable" %>
      <%= link_to 'Change to Adoption-Pending', "pets/#{pet.id}/pending", method: :patch%>
      <% else %>
      <%= link_to 'Change to Adoptable', "/pets/#{pet.id}/adoptable", method: :patch%>
      <% end %><br>
    <%= link_to 'Update Pet', "/pets/#{pet.id}/edit", method: :get %>
    <%= link_to 'Delete Pet', "/pet/#{pet.id}", method: :delete %>
 <% end %><br>


 <br><%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %>
