<%= link_to 'Pets Index', '/pets' %>
<%= link_to 'Shelters Index', '/shelters' %>
<h1> Pets </h1>

  <% @pets.each do |pet| %>
  <h4> Name: <%= link_to pet.name, "/pets/#{pet.id}" %> </h4>
  <p> Age: <%= pet.approx_age %> <br>
    Sex: <%= pet.sex %> <br>
    Sheltered At: <%= pet.shelter_name %></p>
  <% end %>
