<%= link_to 'Pets Index', '/pets' %>
<%= link_to 'Shelters Index', '/shelters' %>

<h2> Name: <%= link_to @pet.name, "/pets/#{@pet.id}" %> - ID: <%= @pet.id %> </h2>

<p> <%= @pet.image %> <br>
    Name: <%= link_to @pet.name, "/pets/#{@pet.id}" %> <br>
    Description: <%= @pet.description %>
    Approx. Age: <%= @pet.approx_age %> <br>
    Sex: <%= @pet.sex %> <br>
    Shelter: <%= @pet.shelter_name %>
    Adoption Status: <%= @pet.status %></p>

    <%= button_to "Update Pet", "/pets/#{@pet.id}/edit", method: :get %>
    <%= button_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
