<h2> Name: <%= @pet.name %> - ID: <%= @pet.id %> </h2>

<p> <%= @pet.image %> <br>
    Name: <%= @pet.name %> <br>
    Description: <%= @pet.description %>
    Approx. Age: <%= @pet.approx_age %> <br>
    Sex: <%= @pet.sex %> <br>
    Adoption Status: <%= @pet.status %></p>
